#header{
  background-color:red;
  position: fixed;
  top: 0;
  width:100%
}
.img-fluid{
  max-width:80px;
}
.btn{
  background-color:red;
  color:black;
  margin-top:20px;
}
.btn:hover{
  background-color: white;
}
